{% extends "base.html" %}
{% import "_macros.html" as m %}
{% block winpath %}TOPSCORES{% endblock %}
{% block content %}
  {{ m.page_header('Top Scores') }}
  <div class="toolbar">
    <label class="checkopt"><input type="checkbox" id="unranked" {{ 'checked' if include_unranked }}
      onchange="location.search = this.checked ? '?unranked=1' : ''"> include unranked maps</label>
  </div>
  {{ m.podium(podium) }}
  {% for s in scores %}
    {{ m.score_card(s, rank=loop.index) }}
  {% else %}
    <p class="muted">No scored plays with pp yet.</p>
  {% endfor %}
{% endblock %}
